<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>itter.tw</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="theme-color" content="#fff"/>
	<link href="//dav.li/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="//dav.li/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="//itter.tw/demo/style.css" rel="stylesheet"/>
</head>
<body>
	<div id="tweetComposer" class="tweet panel panel-default">
		<header class="panel-heading">
			<a class="user" href="//twitter.com/DavidLibeau" target="_blank" style="color:#0070c0">
				<img src="" alt="Profil picture of David Libeau">David Libeau @DavidLibeau
			</a>
			<span class="timestamp">
				<a href="#">now</a>
				via <a href="//itter.tw" target="_blank">itter.tw</a>
			</span>
			<button id="cancelTweetComposer" type="button" class="btn btn-danger hiddenTweetComposer pull-right btn-xs">Cancel</button>
		</header>
		<div class="panel-body">
			<div id="plusTweetComposer" class="text-center">
				<button class="btn btn-default">+</button>
			</div>
			<div class="hiddenTweetComposer">
				<form>
					<textarea class="form-control" rows="3"></textarea>
				</form>
				<button class="btn btn-default">Send</button>
			</div>
		</div>
		<footer class="panel-footer hiddenTweetComposer">
			<ul style="opacity:0.5">
				<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
				<li class="retweet">0<i class="fa fa-retweet" aria-hidden="true"></i></li>
				<li class="favorite">0<i class="fa fa-star" aria-hidden="true"></i></li>
			</ul>
		</footer>
	</div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#ittertw" aria-controls="ittertw" role="tab" data-toggle="tab"><span class="hidden-xs">itter.</span>tw</a></li>
        <li role="presentation" class="active tab-dropdown-options">
            <a href="#homeTimeline" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs">Home Timeline</span></a>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Options</li>
                <li>
                    <form>
                        <label class="autoscroll"><input type="checkbox"/>Auto-scroll</label>
                    </form>
                </li>
            </ul>
        </li>
        <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab"><i class="fa fa-bell" aria-hidden="true"></i><span class="hidden-xs">Notifications</span></a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i><span class="hidden-xs">Messages</span></a></li>
        <li role="presentation" class="tab-dropdown-options">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs">Settings</span></a>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>

   
   <!--- BODY -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="ittertw">
            <h3>itter.tw</h3>
			<p><a class="btn btn-default" href="//itter.tw" target="_blank">Learn more</a></p>
           <div>
                <h3>JSON requester</h3>
                <form>
                    <div class="form-group">
                        <label for="jsonRequestURL">URL</label>
                        <input type="url" class="form-control" id="jsonRequestURL" placeholder="https://twitter.com/ittertwclient/status/822174834822148096">
                    </div>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="jsonRequestType" value="tweet"> Tweet
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="jsonRequestType" value="User"> User
                    </label>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
           </div>
        </div>
        <div id="homeTimeline" role="tabpanel" class="tab-pane active timeline">
            <ul>
				
		
			</ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="notifications">
            <h3>Notifications</h3>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            <h3>Messages</h3>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <h3>Settings</h3>
        </div>
    </div>
	
	
	
	
	
	<div id="tweetTemplate" class="markupTemplate">
		<li id="tweet{{twitter.id_str}}" class="tweet panel panel-default">
			{{if twitter.in_reply_to_screen_name}}
				<i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Replied from @{{twitter.in_reply_to_screen_name}}'s tweet"></i>
			{{/if}}
			<header class="panel-heading">
				<a class="user" href="//twitter.com/{{twitter.user.screen_name}}" target="_blank" style="color:#{{twitter.user.profile_link_color}}">
					<img src="{{twitter.user.profile_image_url}}" alt="Profil picture of {{twitter.user.name}}" data-toggle="tooltip" data-placement="right" title="Profil picture of {{twitter.user.name}}">{{twitter.user.name}} @{{twitter.user.screen_name}}
				</a>
                <span class="timestamp">
				    <a href="//twitter.com/i/web/status/{{twitter.id_str}}" target="_blank">{{preprocess.date}}</a>
                    via {{preprocess.source}}
                </span>
			</header>
			<div class="panel-body">
			{{if twitter.retweeted_status}}
			<div class="embedtweet panel panel-default">
				<i class="fa fa-retweet" aria-hidden="true"></i>
				<header class="panel-heading">
					<a class="user" href="//twitter.com/{{twitter.retweeted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.retweeted_status.user.profile_link_color}}">
						<img src="{{twitter.retweeted_status.user.profile_image_url}}" alt="Profil picture of {{twitter.retweeted_status.user.name}}" style="height:20px">{{twitter.retweeted_status.user.name}} @{{twitter.retweeted_status.user.screen_name}}
					</a>
					<span class="timestamp">
                        <a href="//twitter.com/i/web/status/{{twitter.retweeted_status.id_str}}" target="_blank">{{preprocess.retweeted_status.date}}</a>
                        via {{preprocess.retweeted_status.source}}
                    </span>
				</header>
				<div class="panel-body">
					{{preprocess.retweeted_status.tweet}}
					
					{{if twitter.quoted_status}}
					<div class="embedtweet quotedtweet panel panel-default">
						<i class="fa fa-quote-left" aria-hidden="true"></i>
						<header class="panel-heading">
							<a class="user" href="//twitter.com/{{twitter.quoted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.quoted_status.user.profile_link_color}}">
								<img src="{{twitter.quoted_status.user.profile_image_url}}" alt"PP" style="height:20px">{{twitter.quoted_status.user.name}} @{{twitter.quoted_status.user.screen_name}}
							</a>
							<span class="timestamp">
							  <a href="//twitter.com/i/web/status/{{twitter.quoted_status.id_str}}" target="_blank">{{preprocess.quoted_status.date}}</a>
								via {{preprocess.quoted_status.source}}
							</span>
						</header>
						<div class="panel-body">
							{{preprocess.quoted_status.tweet}}
						</div>
						<footer class="panel-footer">
							<ul>
								<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
								<li class="retweet">{{twitter.quoted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
								<li class="favorite">{{twitter.quoted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
							</ul>
						</footer>
					</div>
					{{/if}}
					</div>
				<footer class="panel-footer">
					<ul>
						<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
						<li class="retweet">{{twitter.retweeted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
						<li class="favorite">{{twitter.retweeted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
					</ul>
				</footer>
			</div>
			{{else}}
				{{preprocess.tweet}}
				{{if twitter.quoted_status}}
				<div class="embedtweet quotedtweet panel panel-default">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
					<header class="panel-heading">
						<a class="user" href="//twitter.com/{{twitter.quoted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.quoted_status.user.profile_link_color}}">
							<img src="{{twitter.quoted_status.user.profile_image_url}}" alt"PP" style="height:20px">{{twitter.quoted_status.user.name}} @{{twitter.quoted_status.user.screen_name}}
						</a>
						<span class="timestamp">
						  <a href="//twitter.com/i/web/status/{{twitter.quoted_status.id_str}}" target="_blank">{{preprocess.quoted_status.date}}</a>
                            via {{preprocess.quoted_status.source}}
                        </span>
					</header>
					<div class="panel-body">
						{{preprocess.quoted_status.tweet}}
					</div>
					<footer class="panel-footer">
						<ul>
							<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
							<li class="retweet">{{twitter.quoted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
							<li class="favorite">{{twitter.quoted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
						</ul>
					</footer>
				</div>
				{{/if}}
			{{/if}}
			</div>
			<footer class="panel-footer">
				<ul>
					<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
					<li class="retweet">{{twitter.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
					<li class="favorite">{{twitter.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
				</ul>
			</footer>
		</li>
	</div>
	
	<div id="hashtagTemplate" class="markupTemplate">
		<a class="hashtag" href="//twitter.com/hashtag/{{text}}" target="_blank">#{{text}}</a>
	</div>
	
	<div id="linkTemplate" class="markupTemplate">
		<a class="link" href="{{expanded_url}}" target="_blank">{{display_url}}</a>
	</div>
	
	<div id="mentionTemplate" class="markupTemplate">
		<a class="mention" href="//twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a>
	</div>
	
	<div id="imgTemplate" class="markupTemplate">
		<a class="media" href="{{media_url_https}}" target="_blank"><img src="{{media_url_https}}" alt="" /></a>
	</div>
	
	<div id="videoTemplate" class="markupTemplate">
		<a class="media" href="{{video_info.variants.0.url}}" target="_blank" title="{{type}}"><img src="{{media_url_https}}" alt="" /></a>
	</div>
	
	
<script src="//dav.li/jquery/2.1.4.js"></script>
<script src="//dav.li/markupjs/1.5.21.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//dav.li/bootstrap/js/bootstrap.min.js"></script>
<script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
<script>
	var tweetTemplate = $("#tweetTemplate").html();
	
	var socket = io.connect('http://demo.itter.tw');
	socket.on('init', function (data) {
		console.log("//Connected to server //Client id:["+data.id+"]");
		socket.emit('init', { data: 'ping' });
	});
	socket.on('console', function (json) {
		console.log(json.data);
	});

	socket.on('timelineUpdate', function (data) {
		//console.log(data);
		var datapreprocess={ twitter:data.tweet, preprocess:preprocess(data.tweet)}
		console.log(datapreprocess);
		
		$("#homeTimeline>ul").prepend(Mark.up(tweetTemplate, datapreprocess));
        if($('[href="#homeTimeline"]~.dropdown-menu .autoscroll>input').is(":checked")==false){
            timelineToScroll=$("#homeTimeline>ul").scrollTop()+$("#tweet"+data.tweet.id_str).outerHeight(true);
            $("#homeTimeline>ul").scrollTop(timelineToScroll);
        }
	});
	
	function preprocess(tweet){
		var preprocessdata={tweet:""};
        if(tweet.full_text!=undefined){
            preprocessdata.tweet=tweet.full_text;
        }else{
            preprocessdata.tweet=tweet.text;
        }
		
		var tweet_entities=tweet.entities;
		var tweet_extended_entities=tweet.extended_entities;
		if(tweet.extended_tweet!=undefined){ //Truncated tweet
			preprocessdata.tweet=tweet.extended_tweet.full_text;
			tweet_entities=tweet.extended_tweet.entities;
			tweet_extended_entities=tweet.extended_tweet.extended_entities;
		}
		
        preprocessdata.source=tweet.source.replace('rel="nofollow"','target="_blank"');
        
		if(tweet.retweeted_status!=undefined){ //It's a RT
			preprocessdata.retweeted_status=preprocess(tweet.retweeted_status);
            preprocessdata.retweeted_status.source=tweet.retweeted_status.source.replace('rel="nofollow"','target="_blank"');
		}
		if(tweet.quoted_status!=undefined){ //It's a quoted tweet
			preprocessdata.quoted_status=preprocess(tweet.quoted_status);
            preprocessdata.quoted_status.source=tweet.quoted_status.source.replace('rel="nofollow"','target="_blank"');
		}
		
		//console.log(util.inspect(tweet.entities.hashtags));
		for(var i in tweet_entities.hashtags){ //hashtags
			var hashtag=tweet_entities.hashtags[i];
			preprocessdata.tweet=preprocessdata.tweet.replace(new RegExp("[^>]#"+hashtag.text+"($|(<\/a>){0})","i"),Mark.up($("#hashtagTemplate").html(), hashtag));
		}
		for(var i in tweet_entities.urls){ //links
			var link=tweet_entities.urls[i];
			preprocessdata.tweet=preprocessdata.tweet.replace(link.url,Mark.up($("#linkTemplate").html(), link));
		}
		for(var i in tweet_entities.user_mentions){ //mention
			var mention=tweet_entities.user_mentions[i];
			preprocessdata.tweet=preprocessdata.tweet.replace(new RegExp("@"+mention.screen_name+"($|(<\/a>){0})","i"),Mark.up($("#mentionTemplate").html(), mention));
		}
		if(tweet_extended_entities){
			var medias="";
			for(var i in tweet_extended_entities.media){ //media
				var media=tweet_extended_entities.media[i];
				if(media.type=="photo"){
					medias+=Mark.up($("#imgTemplate").html(), media);
				}else if(media.type=="animated_gif" || media.type=="video"){
					medias+=Mark.up($("#videoTemplate").html(), media);
				}
			}
			preprocessdata.tweet=preprocessdata.tweet.replace(media.url,"<br/>"+medias);
		}
		preprocessdata.tweet=twemoji.parse(preprocessdata.tweet);
		//console.log(preprocessdata);
		
		
		/* Timestamp */		
		var date=new Date(tweet.created_at);
		preprocessdata.date=date.toLocaleString();
		
		
		return preprocessdata;
	}
	
	
	//Bootstrap
	$(function () { //Bootstrap init
	  $('[data-toggle="tooltip"]').tooltip();
	});
	
    $('.nav-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
    
    $(".dropdown-menu>li>form").click(function(evt){ evt.stopPropagation() });
    
	$(".timeline.active>ul").scroll(function(){
		if($(this).scrollTop()!=0){
            $(".nav-tabs").css({
				"-webkit-box-shadow": "0 5px 10px -5px rgba(0,0,0,0.5)",
				"box-shadow": "0 5px 10px -5px rgba(0,0,0,0.5)"
			});
		}else{
            $(".nav-tabs").css({
				"-webkit-box-shadow": "",
				"box-shadow": ""
			});
		}
	});
    $(".nav-tabs>li>a").click(function(){
		if($($(this).attr("href")+".timeline>ul").length && $($(this).attr("href")+".timeline>ul").scrollTop()!=0){
            $(".nav-tabs").css({
				"-webkit-box-shadow": "0 5px 10px -5px rgba(0,0,0,0.5)",
				"box-shadow": "0 5px 10px -5px rgba(0,0,0,0.5)"
			});
		}else{
            $(".nav-tabs").css({
				"-webkit-box-shadow": "",
				"box-shadow": ""
			});
		}
	});
    
	$('.nav-tabs>li>a').click(function(){
        if($(this).attr("aria-expanded")=="true"){
            $($(this).attr("href")+".timeline>ul").animate( { scrollTop: 0 }, 200 );
        }
	});
	
	
	
	/* Tweet composer */
	
	$(".hiddenTweetComposer").hide();
	$("#cancelTweetComposer").click(function(){
		$(".hiddenTweetComposer").hide();
		$("#plusTweetComposer").show();
	});
	$("#plusTweetComposer").click(function(){
		$(".hiddenTweetComposer").show();
		$(this).hide();
	});
	
	
	
	
	
	
</script>
</body>
</html>
