<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>itter.tw</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="theme-color" content="#424242"/>
    <link rel="manifest" href="manifest.json">
	<link href="//dav.li/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="//dav.li/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="style.css" rel="stylesheet"/>
</head>
<body>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#tweetComposer" aria-controls="tweetComposer" role="tab" data-toggle="tab"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="hidden-xs">Composer</span></a></li>
        <li role="presentation" class="active tab-dropdown-options">
            <a href="#homeTimeline" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs">Home Timeline</span></a>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Options</li>
                <li>
                    <form>
                        <label class="autoscroll"><input type="checkbox"/>Auto-scroll</label>
                    </form>
                </li>
            </ul>
        </li>
        <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab"><i class="fa fa-bell" aria-hidden="true"></i><span class="hidden-xs">Notifications</span></a></li>
        
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i><span class="hidden-xs">Messages</span></a></li>
        
        <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab"><i class="fa fa-search" aria-hidden="true"></i><span class="hidden-xs">Search</span></a></li>
        
        <li role="presentation" class="tab-dropdown-options">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs">Settings</span></a>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>

   
   <!--- BODY -->
    <div class="tab-content">
        <!-- Overview -->
        <div role="tabpanel" class="tab-pane fade" id="tweetComposer">
            <ul>
                <li class="tweet panel panel-default">
                    <header class="panel-heading">
                        <a class="user" href="//twitter.com/DavidLibeau" target="_blank" style="color:#0070c0">
                            <img src="" alt="Profil picture of David Libeau">David Libeau @DavidLibeau
                        </a>
                        <span class="timestamp">
                            <a href="#">now</a>
                            via <a href="//itter.tw" target="_blank">itter.tw</a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <form>
                            <textarea class="form-control" rows="3"></textarea>
                        </form>
                        <button class="btn btn-default">Send</button>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Home Timeline -->
        <div id="homeTimeline" role="tabpanel" class="tab-pane active timeline" data-scroll="0">
            <ul>
				
		
			</ul>
        </div>
        <!-- Notification-->
        <div role="tabpanel" class="tab-pane fade" id="notifications">
            <h3>Notifications</h3>
        </div>
        <!-- Messages -->
        <div role="tabpanel" class="tab-pane fade" id="messages">
            <h3>Messages</h3>
        </div>
        <!-- Omnisearch -->
        <div role="tabpanel" class="tab-pane fade" id="search">
            <form class="form-search content-search" action="/" method="post" id="omnisearch">
                <div class="input-group input-group-lg">
                    <input title="Enter the terms you wish to search for." placeholder="Omnisearch" class="form-control form-text" type="text" name="search_block_form" value="" size="15" maxlength="128"><span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button></span>
                </div>
            </form>
            <ul id="omnisearchResults">
                <li class="well well-sm">
                    You can use <code class="btn-addon" data-addon="inspect://">inspect://</code> or <code class="btn-addon" data-addon="view://">view://</code> with a link to a tweet or a link to a user, or a tweet ID or a @username, or just type any regular search.
                </li>
            </ul>
        </div>
        <!-- Settings -->
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <h2>Settings</h2>
            <p><a class="btn btn-default" href="//itter.tw" target="_blank">Learn more about itter.tw client</a></p>
            <h3>Theme</h3>
            <div id="themeSelector">
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" value="" checked="checked" disabled>
                        White default Bootstrap theme
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="theme-darkdeck.css">
                        Dark deck theme
                    </label>
                </div>
            </div>
        </div>
    </div>
	
	
	
	
	
	<div id="tweetTemplate" class="markupTemplate">
		<li id="tweet{{twitter.id_str}}" class="tweet panel panel-default">
			{{if twitter.in_reply_to_screen_name}}
				<i class="fa fa-reply" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Replied from @{{twitter.in_reply_to_screen_name}}'s tweet"></i>
			{{/if}}
			<header class="panel-heading">
				<a class="user" href="//twitter.com/{{twitter.user.screen_name}}" target="_blank" style="color:#{{twitter.user.profile_link_color}}">
					<img src="{{twitter.user.profile_image_url}}" alt="Profil picture of {{twitter.user.name}}" data-toggle="tooltip" data-placement="right" title="Profil picture of {{twitter.user.name}}">{{twitter.user.name}} @{{twitter.user.screen_name}}
				</a>
                <span class="timestamp">
				    <a href="//twitter.com/i/web/status/{{twitter.id_str}}" target="_blank">{{preprocess.date}}</a>
                    via {{preprocess.source}}
                </span>
			</header>
			<div class="panel-body">
			{{if twitter.retweeted_status}}
			<div class="embedtweet panel panel-default">
				<i class="fa fa-retweet" aria-hidden="true"></i>
				<header class="panel-heading">
					<a class="user" href="//twitter.com/{{twitter.retweeted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.retweeted_status.user.profile_link_color}}">
						<img src="{{twitter.retweeted_status.user.profile_image_url}}" alt="Profil picture of {{twitter.retweeted_status.user.name}}" style="height:20px">{{twitter.retweeted_status.user.name}} @{{twitter.retweeted_status.user.screen_name}}
					</a>
					<span class="timestamp">
                        <a href="//twitter.com/i/web/status/{{twitter.retweeted_status.id_str}}" target="_blank">{{preprocess.retweeted_status.date}}</a>
                        via {{preprocess.retweeted_status.source}}
                    </span>
				</header>
				<div class="panel-body">
					{{preprocess.retweeted_status.tweet}}
					
					{{if twitter.quoted_status}}
					<div class="embedtweet quotedtweet panel panel-default">
						<i class="fa fa-quote-left" aria-hidden="true"></i>
						<header class="panel-heading">
							<a class="user" href="//twitter.com/{{twitter.quoted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.quoted_status.user.profile_link_color}}">
								<img src="{{twitter.quoted_status.user.profile_image_url}}" alt"PP" style="height:20px">{{twitter.quoted_status.user.name}} @{{twitter.quoted_status.user.screen_name}}
							</a>
							<span class="timestamp">
							  <a href="//twitter.com/i/web/status/{{twitter.quoted_status.id_str}}" target="_blank">{{preprocess.quoted_status.date}}</a>
								via {{preprocess.quoted_status.source}}
							</span>
						</header>
						<div class="panel-body">
							{{preprocess.quoted_status.tweet}}
						</div>
						<footer class="panel-footer">
							<ul>
								<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
								<li class="retweet">{{twitter.quoted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
								<li class="favorite">{{twitter.quoted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
							</ul>
						</footer>
					</div>
					{{/if}}
					</div>
				<footer class="panel-footer">
					<ul>
						<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
						<li class="retweet">{{twitter.retweeted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
						<li class="favorite">{{twitter.retweeted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
					</ul>
				</footer>
			</div>
			{{else}}
				{{preprocess.tweet}}
				{{if twitter.quoted_status}}
				<div class="embedtweet quotedtweet panel panel-default">
					<i class="fa fa-quote-left" aria-hidden="true"></i>
					<header class="panel-heading">
						<a class="user" href="//twitter.com/{{twitter.quoted_status.user.screen_name}}" target="_blank" style="color:#{{twitter.quoted_status.user.profile_link_color}}">
							<img src="{{twitter.quoted_status.user.profile_image_url}}" alt"PP" style="height:20px">{{twitter.quoted_status.user.name}} @{{twitter.quoted_status.user.screen_name}}
						</a>
						<span class="timestamp">
						  <a href="//twitter.com/i/web/status/{{twitter.quoted_status.id_str}}" target="_blank">{{preprocess.quoted_status.date}}</a>
                            via {{preprocess.quoted_status.source}}
                        </span>
					</header>
					<div class="panel-body">
						{{preprocess.quoted_status.tweet}}
					</div>
					<footer class="panel-footer">
						<ul>
							<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
							<li class="retweet">{{twitter.quoted_status.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
							<li class="favorite">{{twitter.quoted_status.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
						</ul>
					</footer>
				</div>
				{{/if}}
			{{/if}}
			</div>
			<footer class="panel-footer">
				<ul>
					<li class="reply"><i class="fa fa-reply" aria-hidden="true"></i></li>
					<li class="retweet">{{twitter.retweet_count}}<i class="fa fa-retweet" aria-hidden="true"></i></li>
					<li class="favorite">{{twitter.favorite_count}}<i class="fa fa-star" aria-hidden="true"></i></li>
				</ul>
			</footer>
		</li>
	</div>
	
	<div id="hashtagTemplate" class="markupTemplate">
		<a class="hashtag" href="//twitter.com/hashtag/{{text}}" target="_blank">#{{text}}</a>
	</div>
	
	<div id="linkTemplate" class="markupTemplate">
		<a class="link" href="{{expanded_url}}" target="_blank">{{display_url}}</a>
	</div>
	
	<div id="mentionTemplate" class="markupTemplate">
		<a class="mention" href="//twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a>
	</div>
	
	<div id="imgTemplate" class="markupTemplate">
		<a class="media" href="{{media_url_https}}" target="_blank"><img src="{{media_url_https}}" alt="" /></a>
	</div>
	
	<div id="videoTemplate" class="markupTemplate">
		<a class="media" href="{{video_info.variants.0.url}}" target="_blank" title="{{type}}"><img src="{{media_url_https}}" alt="" /></a>
	</div>
	
	
<script src="//dav.li/jquery/2.1.4.js"></script>
<script src="//dav.li/markupjs/1.5.21.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//dav.li/bootstrap/js/bootstrap.min.js"></script>
<script src="https://twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
<script src="script.js"></script>
</body>
</html>
